* {
  box-sizing: border-box;
}

body {
  background-image: url("../styles/src/gameWorldBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

// COLORS
$firstColor: darkred;
$secondColor: azure;

// MIXIN
@mixin flex($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
}

// SITE PRESENT
#sitePresent {
  .navbar {
    align-items: center;
    justify-content: space-between;
    @include flex(row);
    .navbar-brand {
      .img-fluid {
        max-width: 100%;
        width: 250px;
        height: auto;
        margin-left: 10px;
      }
    }
    #btnBars {
      display: none;
      font-size: 1.6em;
      cursor: pointer;
      color: $secondColor;
      border: transparent;
      background: transparent;
      transition: all 0.25ms ease;

      &:active {
        transform: rotate(90deg);
      }
    }
    .navbar-nav {
      column-gap: 50px;
      align-items: center;
      @include flex(row);
      .nav-item {
        font-size: 1.6em;
        color: $secondColor;
        .nav-link {
          letter-spacing: 10px;
          color: $secondColor;
          text-decoration: none;
          font-family: linkStart;
          margin-left: 24px;
          margin-right: 24px;
          &:hover {
            color: $firstColor;
          }
        }
      }
      .searchGame {
        input {
          letter-spacing: 4px;
          font-family: linkStart;
        }
        #btnSearch {
          width: 40px;
          padding: 2px;
          color: azure;
          background: transparent;
          &:hover {
            color: black;
            background-color: $secondColor;
          }
        }
      }
    }
  }
  .swiper-container {
    .swiper-slide {
      width: 100%;
      margin-top: 15px;
      .row {
        #firstPict {
          margin-top: 8px;
          padding: 10px;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
        .title {
          cursor: pointer;
          font-size: 1.8em;
          color: $secondColor;
          letter-spacing: 10px;
          font-family: eaSports;
        }
        .listBtn {
          @include flex(row);
          #btnImSim,
          #btnRécits,
          #btnFPS,
          #btnOpenWorld,
          #btnChoice,
          #btnRPG,
          #btnBaston,
          #btnAdventure,
          #btnJRPG,
          #btnCards,
          #btnEscape {
            padding: 3px;
            opacity: 1;
            font-size: 1.1em;
            cursor: pointer;
            font-family: vipnagorgialla;
            background-color: $secondColor;
            border: 1px solid black;
            &:hover {
              opacity: 0.6;
            }
          }
        }
        .describe {
          margin: 20px auto;
          letter-spacing: 2px;
          line-height: 40px;
          color: $secondColor;
          font-size: 1.4em;
          .listImg {
            @include flex(row);
            flex-wrap: wrap;
            .pictGame {
              margin-top: 5px;
              padding: 3px 5px 3px 5px;
              width: 100%;
              opacity: 1;
              cursor: pointer;
              height: 150px;
            }
          }
        }
        .listDetails {
          margin-top: -10px;
          text-align: center;
          line-height: 60px;
          .developper {
            font-size: 1.2em;
            font-family: closeness;
            color: $secondColor;
          }
        }
        .listBtnBuy {
          @include flex(row);
          justify-content: end;
          .btnAdd {
            background-color: transparent;
            font-size: 1.3em;
            letter-spacing: 10px;
            .fa-solid {
              font-size: 1.4em;
              color: $secondColor;
              &:hover {
                color: $firstColor;
              }
            }
            &:active {
              opacity: 0.7;
              transform: translateY(4px);
            }
          }
          .price {
            margin-left: 3px;
            font-size: 1.4em;
            font-family: eaSports;
            color: $secondColor;
            background-color: transparent;
          }
        }
      }
    }
    .swiper-pagination {
      position: relative;
      top: 5px;
    }
  }
}

// TYPES OF GAMES
#typesOfGames {
  margin: 20px auto;
  .listTypes {
    .categories {
      display: block;
      margin: 3px auto;
      border: 1px solid black;
      background-color: #171a21;
      border-radius: 40px;
      width: 33%;
      color: $secondColor;
      font-family: linkStart;
      letter-spacing: 10px;
      font-size: 1.8em;
      text-align: center;
    }
    .row {
      padding: 20px;
      .rpg,
      .jrpg,
      .fps,
      .moreCategory {
        width: 100%;
        height: 200px;
        cursor: pointer;
        border-radius: 40px;
        border: 1px solid black;
        transition: all 0.25ms ease;
        &:active {
          transform: scale(1.2);
        }
        .type {
          position: relative;
          top: 40%;
          color: $secondColor;
          font-size: 2em;
          text-align: center;
          font-family: vipnagorgialla;
        }
      }
      .rpg {
        background-color: rgb(3, 59, 3);
      }
      .jrpg {
        background-color: darkgoldenrod;
      }
      .fps {
        background-color: darkred;
      }
      .moreCategory {
        background-color: $secondColor;
      }
    }
  }
}

// SIDEBAR FLUID
#sidebarFluid {
  background-color: #171a21;
  position: fixed;
  border: 1px solid $secondColor;
  color: $secondColor;
  height: 250px;
  top: 0;
  left: 0;
  .offcanvas-header {
    align-items: center;
    .offcanvasLogo {
      height: auto;
      max-width: 100%;
      width: 150px;
    }
    .btnCloseSide {
        font-size: 1.6em;
        color: $secondColor;
        border: transparent;
        background: transparent;
        &:hover {
            color: $firstColor;
        }
    }
  }
  .offcanvas-body {
    .listShortcut {
      @include flex(row);
      margin: 20px auto;
      width: 100%;
      justify-content: center;
      list-style-type: none;
      .shortcut {
        margin-left: 35px;
        margin-right: 35px;
        font-size: 1.4em;
        letter-spacing: 10px;
        color: $secondColor;
        text-decoration: none;
        font-family: linkStart;
        &:hover {
            color: $firstColor;
        }
      }
    }
    .searchGame {
        #btnSearch {
            width: 40px;
          padding: 2px;
          color: azure;
          background: transparent;
          &:hover {
            color: black;
            background-color: $secondColor;
          }
        }
    }
  }
}

// FONTS
@font-face {
  font-family: linkStart;
  src: url(styles/fonts/LinkStart.otf);
}

@font-face {
  font-family: pirulen;
  src: url(styles/fonts/Pirulen.otf);
}

@font-face {
  font-family: eaSports;
  src: url(styles/fonts/EaSports.ttf);
}

@font-face {
  font-family: vipnagorgialla;
  src: url(styles/fonts/vipnagorgialla\ rg.otf);
}

@font-face {
  font-family: closeness;
  src: url(styles/fonts/Closeness.ttf);
}

// MEDIA QUERRY
@media screen and (max-width: 1188px) {
  #typesOfGames {
    .listTypes {
      .categories {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .col-lg-5 {
    border: none;
    padding: 10px;
    background-color: transparent;
  }
  .listImg {
    display: flex;
    flex-wrap: wrap;
  }
  #typesOfGames {
    .listTypes {
      .row {
        .rpg,
        .jrpg,
        .fps,
        .moreCategory {
          margin: 10px 0px 10px 0px;
        }
      }
    }
  }
  #sitePresent {
    .container-fluid {
      .navbar {
        #btnBars {
          display: block;
        }
        .navbar-nav {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 688px) {
  #typesOfGames {
    .listTypes {
      .categories {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .col-lg-5 {
    .title {
      font-size: 28px;
    }
    .listBtn {
      margin-bottom: 20px;
      button {
        font-size: 14px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .col-lg-5 {
    .title {
      font-size: 24px;
    }
    .listBtn {
      button {
        font-size: 12px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
    .listDetails {
      .col-lg-6 {
        font-size: 12px;
      }
    }
  }
}
